// Viewport Widths
$mob-end: 320px;
$mob-start: 500px;
$tab-end: 600px;
$tab-start: 768px;
$desktop-end: 1024px;
$desktop-start: 1200px;

// Colours
$black: #000;
$white: #fff;
$red: #DF0101;
$blue: #045FB4;
$green: #31B404;
$yellow: #FFFF00;
$lightgrey: #E6E6E6;
$grey: #A4A4A4;
$darkgrey: #2E2E2E;